html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

.App {
    height: 100%;
}

header { 
    text-align: center;
}


h1 {
    font-size:60px;
}


input[type="radio"] { 
    opacity: 0;
    position: absolute;
 
}

.categories p {
    text-align: center;
}

.categories fieldset {
    display: flex;
    flex-wrap: wrap;
    border:none;
    
}

.categories label {
    margin: 2%;
    background-color: #ddd;
    padding: 20px 20px;
    width: 16%;
    text-align: center;
    cursor: pointer;
      border-radius: 20px;
    
}

.categories input[type="radio"]:checked + label,
label:hover{
background-color: grey;
transform: scale(105%);
color: white;
}

.categories button {
    margin: 2%;
    background-color: #ddd;
    padding: 20px 20px;
    border-radius: 20px;
    width: 20%;
    text-align: center;
    cursor: pointer;
    border: none;
}

.categories button:hover {
    background-color: grey;
transform: scale(105%);
color: white;
}

main {
    height:75vh;
}

.questionContainer {
    text-align: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.questionContainer fieldset {
    border: 3px solid black;
    border-radius: 30px;
    padding:5%;
    width:80%;
    position: relative;
}

.questionContainer label {
    margin: 2%;
    background-color: #ddd;
    padding: 10px 20px;
    width: 29%;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    border-radius: 20px;
    border:3px solid black;
    width: 200px;
}

.questionContainer p {
    margin-bottom: 10%;
    font-size: 30px;
}

.questionContainer label:hover{
background-color: grey;
}

.buttonContainer {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quit {
    position:absolute;
    left:10px;
    top:10px;
    border:none;
    background-color:white;
    cursor:pointer;
    font-size: 30px;
}

.quit:hover {
    color:red;
    
}

footer {
    position: relative;
    bottom:0;
    text-align: center;
}
